/* Enable GPIO LED connected to pin 33 */

/dts-v1/;
/plugin/;

/ {
	compatible = "rockchip,rk3566-odroid-m1";

	fragment@0 {
		target-path = "/";

		__overlay__ {
			leds {
				gpio-led {
					label = "ext40-33:green";
					gpios = <&gpio0 13 0>;
					linux,default-trigger = "rc-feedback";
				};
			};
		};
	};

	__symbols__ {
		ir-receiver = "/fragment@0/__overlay__/leds/gpio-led";
	};

	__fixups__ {
		gpio0 = "/fragment@0/__overlay__/leds/gpio-led:gpios:0";
	};
};
